@import url('https://fonts.cdnfonts.com/css/kodchasan');

html, body {
    margin: 0 auto;
    font-family: 'Kodchasan';
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

input:not(input[type="checkbox"]) {
    all: unset;
}

a {
    all: unset;
}

/* SCROLL */

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: white
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 20px;
    border: 3px solid #818181;
}